.idea/
*.svn
.DS_Store
.project
.settings
.classpath
*.factorypath
Thumbs.db
bin
target
*~

/build/

computer-database.iml

#config files
config/db/db.properties
cdb.log
logs/*
WebContent/WEB-INF/lib/*
